<!-- BEGIN PAGE CONTAINER-->
<div class="page-content"> 

	<div class="content">
        <center>
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">	
				<h3>Ajouter des heures supp</h3>		
			</div>
			<!-- END PAGE TITLE -->
			<!-- BEGIN PlACE PAGE CONTENT HERE -->
                <h4>Selectionne ton jour</h4>

                <div class="row">
	                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
	                	<calendar selected="day" schedule="schedule" id="id"></calendar>
	                </div>
                </div>

                <div class="row">
	                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
	                	<div class="infos_day">
	                		<div class="row">
	                			<span > Jour sélectionné : {{day.format('dddd, MMMM Do YYYY')}}</span>
	                		</div>
	                		<div class="row">
	                			<span>Horaires: </span>
	                			<div class="row">
	                				<span>Matin : {{schedule.beginMorning}} - {{schedule.endMorning}}</span>
	                			</div>
	                			<div class="row">
	                				<span>Après-midi : {{schedule.beginAfternoon}} - {{schedule.endAfternoon}}</span>
	                			</div>
	                		<div class="row">
	                			<span>Heure(s) travaillée(s) : {{schedule.minNormal}}</span>
	                		</div>
	                		<div class="row">
	                			<span> Heure(s) récupérée(s) : {{schedule.minRecup}}</span>
	                		</div>
	                		<div class="row">
	                			<span>Heure(s) supérieure(s) : {{schedule.minSup}}</span>
	                		</div>
	                	</div>
	                </div>
                </div>

               	<div class="row">
					<button class="btn btn-success" ng-click="showModal()" style="margin-top: 5px;">Ajouter heure supp'</button>
				</div>

				<modal visible="showModalDay">
	        	<div>
				<modal-header title="Horaire du jour"></modal-header>
		            <modal-body>
		                <center>
		                    <div id="newDay">
		                        <form name='dayForm', novalidate>
		                            <div class="row"><span class="col-xs-3 day" ng-model="day.sup"></span></div>
		                            <div class="row">
		                                <span class="day col-xs-4">Heure(s) sup'</span>
		                                <input class="col-xs-3" type="time" ng-model="day.sup" ng-required="required" name="sup">
		                             </div>
		                        </form>
		                    </div>
		                </center>
		            </modal-body>
	            <modal-footer>
	                <button class="btn btn-success btn-cons ladda-button" data-style='expand-left' ng-disabled="!day.sup" ng-click="addSup()" style="margin-top: 10px;">Ajouter</button>
	            </modal-footer>
	        </div>
	    </modal>

                
                
			<!-- END PLACE PAGE CONTENT HERE -->
        </center>
    </div>
</div>
