<!-- BEGIN PAGE CONTAINER-->
<div class="page-content"> 

	<div class="content">
        <center>
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">	
				<h3>Ajouter des heures supp</h3>		
			</div>
			<!-- END PAGE TITLE -->
			<!-- BEGIN PlACE PAGE CONTENT HERE -->
                <h4>Selectionne ton jour</h4>
                <calendar selected="day"></calendar>
                <span> Jour sélectionné : {{day.format('dddd, MMMM Do YYYY')}}</span>
			<!-- END PLACE PAGE CONTENT HERE -->
        </center>
    </div>
</div>
