<!-- BEGIN PAGE CONTAINER-->
<div class="page-content"> 

	<div class="content">
		<center>
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">	
				<h3>Export PDF</h3>		
			</div>
			<!-- END PAGE TITLE -->
			<!-- BEGIN PlACE PAGE CONTENT HERE -->
			<div class="well">
                <h4>Selectionne tes dates </h4>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Date de début</label>
                        <input type="date" ng-model="date.start"/>
                    </div>
                    <div class="col-sm-4">
                        <label>Date de fin</label>
                        <input type="date" ng-model="date.end"/>  
                    </div>  
                    <div class="col-sm-4" style="margin-top:25px;">
                        <button class="btn btn-primary btn-cons" type="submit" ng-click="exportPDF()">Exporter</button>  
                    </div>
                </div>
            </div>
		</center>
	</div>
</div>
