<!-- BEGIN PAGE CONTAINER-->
<div class="page-content"> 
    <modal visible="showModalWeek">
        <div>
        <!--et du coup tu appeles juste modal-header, modabl body etc et pour calendar c'est pareil -->
            <modal-header title="Horaires de ta semaine"></modal-header>
            <modal-body>
                <center>
                    <div id="newWeek">
                        <form name='dayForm', novalidate>
                            <div class="row"><span class="col-xs-3 day" ng-model="day.monday.day">Lundi({{modalDisplay[0]}}): </span></div>
                            <div class="row">
                                <span class="col-xs-4">Matin: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.monday.begin_time_morning" ng-required="required" name="begin_time_morning_1">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.monday.end_time_morning" ng-required="required" name="end_time_morning_1">
                             </div>

                             <div class="row">
                                <span class="col-xs-4">Aprem: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.monday.begin_time_afternoon" ng-required="required" name="begin_time_afternoon_1">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.monday.end_time_afternoon" ng-required="required" name="end_time_afternoon_1">
                             </div>

                             <div class="row"><span class="col-xs-3 day">Mardi({{modalDisplay[1]}}): </span></div>
                             <div class="row">
                                <span class="col-xs-4">Matin: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.tuesday.begin_time_morning" ng-required="required" name="begin_time_morning_2">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.tuesday.end_time_morning" ng-required="required" name="end_time_morning_2">
                             </div>

                             <div class="row">
                                <span class="col-xs-4">Aprem: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.tuesday.begin_time_afternoon" ng-required="required" name="begin_time_afternoon_2">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.tuesday.end_time_afternoon" ng-required="required" name="end_time_afternoon_2">
                             </div>

                             <div class="row"><span class="col-xs-3 day">Mercredi({{modalDisplay[2]}}): </span></div>
                             <div class="row">
                                <span class="col-xs-4">Matin: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.wednesday.begin_time_morning" ng-required="required" name="begin_time_morning_3">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.wednesday.end_time_morning" ng-required="required" name="end_time_morning_3">
                             </div>

                             <div class="row">
                                <span class="col-xs-4">Aprem: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.wednesday.begin_time_afternoon" ng-required="required" name="begin_time_afternoon_3">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.wednesday.end_time_afternoon" ng-required="required" name="end_time_afternoon_3">
                             </div>

                             <div class="row"><span class="col-xs-3 day">Jeudi({{modalDisplay[3]}}): </span></div>
                             <div class="row">
                                <span class="col-xs-4">Matin: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.thursday.begin_time_morning" ng-required="required" name="begin_time_morning_4">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.thursday.end_time_morning" ng-required="required" name="end_time_morning_4">
                             </div>

                             <div class="row">
                                <span class="col-xs-4">Aprem: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.thursday.begin_time_afternoon" ng-required="required" name="begin_time_afternoon_4">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.thursday.end_time_afternoon" ng-required="required" name="end_time_afternoon_4">
                             </div>

                             <div class="row"><span class="col-xs-3 day">Vendredi({{modalDisplay[4]}}): </span></div>
                             <div class="row">
                                <span class="col-xs-4">Matin: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.friday.begin_time_morning" ng-required="required" name="begin_time_morning_5">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.friday.end_time_morning" ng-required="required" name="end_time_morning_5">
                             </div>

                             <div class="row">
                                <span class="col-xs-4">Aprem: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.friday.begin_time_afternoon" ng-required="required" name="begin_time_afternoon_5">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.friday.end_time_afternoon" ng-required="required" name="end_time_afternoon_5">
                             </div>

                             <div class="row"><span class="col-xs-3 day">Samedi({{modalDisplay[5]}}): </span></div>
                             <div class="row">
                                <span class="col-xs-4">Matin: De</span>
                                <input class="col-xs-3" type="time" ng-model="day.saturday.begin_time_morning" ng-required="required" name="begin_time_morning_6">
                                <span class="col-xs-2"> à </span>
                                <input class="col-xs-3" type="time" ng-model="day.saturday.end_time_morning" ng-required="required" name="end_time_morning_6">
                             </div>
                        </form>
                    </div>
                </center>
            </modal-body>
            <modal-footer>
                <button class="btn btn-success btn-cons ladda-button" data-style='expand-left' ng-click="addWeek(1)" style="margin-top: 10px;">Ajouter</button>
            </modal-footer>
        </div>
    </modal>
 
    <modal visible="showModalTemplate">
        <modal-header title="Template"></modal-header>
        <modal-body>
            <h4>Selectionne ta template</h4>
            <select name="selectTemplate" required="true">
                <option ng-repeat="template in templates" value="volvo">{{template.name}}</option>
            </select>
        </modal-body>
        <modal-footer>
            <button class="btn btn-success btn-large btn-cons" onclick="">Ajouter</button>
        </modal-footer>
    </modal>

	<div class="content">
        <center>
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">	
				<h3>Gérer ma semaine</h3>		
			</div>
			<!-- END PAGE TITLE -->
			<!-- BEGIN PlACE PAGE CONTENT HERE -->
            <div class="well">
                <h4>Selectionne ta semaine </h4>
                <ui-select name='week' ng-model='week' ng-required='true' theme='bootstrap' ng-change="setScope(week)">
                    <ui-select-match placeholder='Sélectionner une semaine'>
                        <span> Semaine {{week.number}} ({{week.firstday}} - {{week.lastday}})</span>
                    </ui-select-match>
                    <ui-select-choices repeat="week in weeks | filter: $select.search">
                       <span>Semaine {{week.number}} ({{week.firstday}} - {{week.lastday}})</span>
                    </ui-select-choices>
                </ui-select>
            </div>

			<div class="well well-small">
				<h4>Selectionne le mode de remplissage</h4>

				<button class="btn btn-primary btn-cons" ng-click="showModalWeek = true" type="button" style="height: 100px;">
					Nouvelle semaine
				</button>

				<button class="btn btn-primary btn-cons" ng-click="showModalTemplate = true" type="button" style="height: 100px;">
					Choisir template
				</button>
			</div>
			<!-- END PLACE PAGE CONTENT HERE -->
        </center>
    </div>
</div>